# ***Exercise 1***

In [ ]:
#Exercise 1: Create a Jupyter Notebook called "DataScienceEcosystem.ipynb

#Done

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 2***

In [ ]:
#Exercise 2: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 Sytle heading

In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 3***

In [ ]:
#Exercise 3: Create a markdown cell for an introduction. Write an introductory sentence about the notebook such as the following:
#   - In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 4***

In [ ]:
#Exercise 4: Create a markdown cell to list data science languages

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 5***

In [ ]:
#Exercise 5: Create a markdown cell to list data science libraries

In [ ]:
Some of the commonly used libraries used by data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Pytorch
- Tensorflow

Some of the commonly used libraries used by data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Pytorch
- Tensorflow

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 6***

In [ ]:
#Exercise 6: Create a markdown cell with a table of Data Science tools

In [ ]:
|Data Sciecne Tools|
|------------------|
| Jupyter Notebooks |
| RStudio |
| VScode |

|Data Sciecne Tools|
|------------------|
| Jupyter Notebooks |
| RStudio |
| VScode |

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 7***

In [ ]:
#Exercise 7: Create a markdown introducing arithmetic expression examples. Add a line in this cell with H3 style heading text like:
#    - Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
2+3

5

In [8]:
10-3

7

In [9]:
25-15+7

17

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 8***

In [ ]:
#Exercise 8: Create a code cell to multiply and add numbers

In [ ]:
# This is a simple arithmetic expression to multiply and add integers.

In [10]:
(3*4)+5

17

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 9***

In [ ]:
#Exercise 9: Create a code cell to convert minutes into hours

In [ ]:
#This will convert 200 minutes to hours by dividing by 60.

In [38]:
Minutes = 200
Hours = Minutes/60

In [ ]:
#Used str to format/round the hours into two decimal places.

In [46]:
Hours = str(round(Hours,2))

In [47]:
Hours

'3.33'

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 10***

In [ ]:
#Exercise 10: Insert a markdown cell to list Objectives

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List Languages for Data Science
- List Data Science Libraries
- List Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List Languages for Data Science
- List Data Science Libraries
- List Data Science Tools

In [ ]:
#####################################################################################################################################################
#####################################################################################################################################################
#####################################################################################################################################################

# ***Exercise 11***

In [ ]:
#Exercise 11: Create a markdown cell to indicate the Author's name
#In this markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

In [ ]:
## Author
Neil

## Author
Neil